.title {
    color: aqua;
}
#title {
    color: red;
}
h1 {
    color: tomato;
}
* {
color: blue;
}
img[alt='dog'] {

}
/* специфічність */
/* 1)id - 100
2)class - 10
3)tag name - 1 
4)* - 0  */

/* data- атрибути */

/* 1) вкладеність - пробіл */
body .title {
    background-color: black;
}
/* 2) вкладеність першого рівня */
body>h1 {
    background-color: blue;
}
/* 3) обрати всі елементи всередині іншого */
div * {
color: red;
}
/* 4) обрати елемент який йде після елементу-селектора - + */
h1+a {
    color: brown;
}
/* 5)обрати елемент який йде після елементу-селектора - ~ */ 
h1~a {
    color: rgb(192, 101, 22);
}

h1,h2+p {

}
